#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.thebox{
  padding: 30px;
 margin-top: 40px;
  background-color: rgb(255, 255, 255);
  animation: colorChange 10s infinite;
  border-radius: 1000px;
  width:500px;
  height: 500px;
}

.card {
  padding: 2em;
}


.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;

padding-top: 70px;
  margin: 0 auto 0 auto;
padding-right: 50px;
  transform-origin: bottom;
  width:500px;
  height: 500px;
}
.bounce {
  

  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}




@keyframes colorChange {
  0% {
    background-color: rgb(241, 170, 205);
  }
  50% {
    background-color: rgb(173, 181, 254);
  }
  100% {
    background-color: rgb(165, 232, 173);
  }
}


@keyframes colorChange2 {
  0% {
   color: rgb(227, 157, 192);
  }
  50% {
    color: rgb(151, 159, 227);
  }
  100% {
  color: rgb(135, 197, 142);
  }
}

.banner{
  padding-bottom: 10px;
}
h2{

  font-weight: bold;

}

.logo  {

  padding: 30px;


  background-color: rgb(255, 255, 255);
  animation: colorChange 10s infinite;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.button {
  background-color: rgb(173, 181, 254);
  animation: colorChange 10s infinite;
  border-color: none;
border-radius: 100px;

  
}
.button2 {
  animation: colorChange2 10s infinite;
  background-color: rgb(255, 255, 255);

border-color: none;
font-size: larger;
margin: 7px;


  
}
.button:hover{
  background-color: rgb(9, 9, 13);
  color: aliceblue;
}


.table1{
  background-color: black;
  padding: 100px;
}

.material-symbols-outlined {
 
  font-variation-settings:
  'FILL' 5,
  'wght' 400,
  'GRAD' 5,
  'opsz' 266,
 
}
.row{
  padding-top: 15px;
}
.kello{
  border-radius: 100px;
}